@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.lora {
  font-family: 'Lora', serif;
}

/* 
#010101
#F4F9FD
#2BAFFC
#55C360
 */